
<div class="navbar navbar-default navbar-fixed-top">

  <a class="backlink bootstrap-tooltip" href="#/" data-toggle="tooltip" data-placement="bottom" data-original-title="Navigate to Ungit home page" data-delay='{"show":"2000", "hide":"0"}'>
    <span class="glyphicon glyphicon-arrow-left glyphicon-circled" data-bind="css: { 'glyph-shown': showBackButton }"></span>
    <img src="images/logo.png">
  </a>

  <div class="form-container">
    <form class="path-input-form" data-bind="submit: submitPath">
      <input class="form-control input-lg" data-bind="value: path, autocomplete: path" placeholder="Enter path to repository">
      <button type="button" class="add-to-repolist btn btn-default bootstrap-tooltip" data-bind="visible: showAddToRepoListButton, click: addCurrentPathToRepoList" data-toggle="tooltip" data-placement="bottom" data-original-title="Add current git directory to Ungit home page" data-delay='{"show":"2000", "hide":"0"}'>
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </form>
  </div>
  <div class="toolbar">
    <!-- ko component: refreshButton --><!-- /ko -->
  </div>

  <div class="arrowUp"></div>
  <div class="version" data-bind="text: currentVersion"></div>
</div>

<div class="navbarPadder"></div>
