
<div class="staging panel panel-default" data-bind="css: { commitValidationError: commitValidationError }">
  <div class="panel-body">
    <div class="arrowContainer arrowDown">
      <div class="arrow"></div>
    </div>
    <div data-bind="visible: showNux" class="nux">
      Nothing to commit. <a class="amend-link" href="#" data-bind="click: toggleAmend, visible: canAmend">Amend previous commit?</a>
    </div>
    <div class="row" data-bind="visible: !showNux()">
      <div class="col-lg-3">
        <input class="form-control" type="text" placeholder="Title (required)" data-bind="value: commitMessageTitle, valueUpdate: 'afterkeydown', enable: !inRebase(), event: {keypress: onEnter}"></input>
        <textarea class="form-control" rows="2" placeholder="Body" data-bind="value: commitMessageBody, valueUpdate: 'afterkeydown', enable: !inRebase(), event: {keypress: onAltEnter}"></textarea>
        <div>
          <span class="amend" data-bind="visible: canAmend">
            <span class="checkmark" data-bind="css: { checked: amend }">&#10003;</span>
            <a class="amend-link" href="#" data-bind="click: toggleAmend">Amend last commit</a>
          </span>
          <span class="commit-message-title-counter" data-bind="text: commitMessageTitleCount"/>
        </div>
        <button class="btn btn-primary btn-lg commit-btn" data-bind="click: commit, visible: isStageValid, enable: !commitValidationError()">
          Commit
          <!-- ko component: committingProgressBar --><!-- /ko -->
        </button>
        <button class="btn btn-primary" data-bind="click: conflictContinue, visible: conflictText, enable: !commitValidationError()">
          Continue <span data-bind="text: conflictText"/>
          <!-- ko component: conflictContinueProgressBar --><!-- /ko -->
        </button>
        <button class="btn btn-warning btn-stg-abort" data-bind="click: conflictAbort, visible: conflictText">
          Abort <span data-bind="text: conflictText"/>
          <!-- ko component: conflictAbortProgressBar --><!-- /ko -->
        </button>
        <span class="validationError" data-bind="text: commitValidationError, visible: commitValidationError"></span>
      </div>
      <div class="col-lg-9 file-area">
        <div class="commands btn-group btn-group-sm">
          <button class="btn btn-default" disabled data-bind="text: stats"></button>
          <button class="btn btn-default bootstrap-tooltip" data-bind="click: toggleAllStages" data-toggle="tooltip" data-placement="bottom" data-original-title="Toggle all uncommited files for commit" data-delay='{"show":"1000", "hide":"0"}'>
            <span class="glyphicon" data-bind="css: toggleSelectAllGlyphClass"></span>
            Toggle all
          </button>
          <button class="btn btn-default bootstrap-tooltip" data-bind="click: discardAllChanges" data-toggle="tooltip" data-placement="bottom" data-original-title="Discard all uncommited file changes, including not showing files" data-delay='{"show":"1000", "hide":"0"}'>
            <span class="glyphicon glyphicon-trash"></span>
            Discard all
          </button>
          <button class="btn btn-default bootstrap-tooltip stash-all" data-bind="click: stashAll, css: { disabled: !canStashAll() }" data-toggle="tooltip" data-placement="bottom" data-original-title="Stash all uncommited file changes, including not showing files" data-delay='{"show":"1000", "hide":"0"}'>
            <span class="glyphicon glyphicon-paperclip"></span>
            Stash all
            <!-- ko component: stashProgressBar --><!-- /ko -->
          </button>
          <div class="btn-group pull-right btn-group-sm">
            <button class="btn btn-default bootstrap-tooltip" data-bind="click: whiteSpace.toggle, css: {active: whiteSpace.isActive}" data-toggle="tooltip" data-placement="bottom" data-original-title="Ignore whitespaces" data-delay='{"show":"2000", "hide":"0"}'>
              <span data-bind="text: whiteSpace.text"></span>
            </button>
          </div>
          <div class="btn-group pull-right btn-group-sm">
            <button class="btn btn-default bootstrap-tooltip" data-bind="click: textDiffType.toggle, css: {active: textDiffType.isActive}" data-toggle="tooltip" data-placement="bottom" data-original-title="Show inline diff view" data-delay='{"show":"2000", "hide":"0"}'>
              <span data-bind="text: textDiffType.text"></span>
            </button>
          </div>
          <div class="btn-group pull-right btn-group-sm">
            <button class="btn btn-default bootstrap-tooltip" data-bind="click: wordWrap.toggle, css: {active: wordWrap.isActive}" data-toggle="tooltip" data-placement="bottom" data-original-title="Not wrapping words per line" data-delay='{"show":"2000", "hide":"0"}'>
              <span data-bind="text: wordWrap.text"></span>
            </button>
          </div>
        </div>

        <div class="files" data-bind="foreach: files">
          <div class="file" data-bind="css: { showingDiffs: isShowingDiffs }">
            <div class="checkmark" data-bind="click: toggleStaged, css: { checked: editState() !== 'none' }">
              <span class="glyphicon" data-bind="css: { 'glyphicon-check': editState() === 'staged', 'glyphicon-unchecked': editState() === 'none', 'glyphicon-list-alt': editState() === 'patched'}"></span>
            </div>
            <button class="name btn btn-default" data-bind="click: toggleDiffs">
              <span data-bind="text: displayName"></span>
              <!-- ko component: diffProgressBar --><!-- /ko -->
            </button>
            <span class="new" data-bind="visible: isNew">New</span>
            <span class="deleted" data-bind="visible: removed">Removed</span>
            <span class="additions" data-bind="text: additions"></span>
            <span class="deletions" data-bind="text: deletions"></span>
            <span class="conflict" data-bind="visible: conflict"><span class="temporary">Conflicts</span><span class="launchmergetool explanation" data-bind="visible: mergeTool, click: launchMergeTool">Launch Merge Tool</span><span class="markresolved explanation" data-bind="click: resolveConflict">Mark as Resolved</span></span>
            <span class="patch bootstrap-tooltip" data-bind="visible: isShowPatch(), click: patchClick"
                data-toggle="tooltip" data-placement="top" title="Patch changes">Patch</span>
            <span class="ignore bootstrap-tooltip" data-bind="click: ignoreFile"
                data-toggle="tooltip" data-placement="top" title="Add to .gitignore">i</span>
            <span class="discard bootstrap-tooltip" data-bind="click: discardChanges"
                data-toggle="tooltip" data-placement="top" title="Discard changes">&#x2716;</span>
            <!-- ko if: isShowingDiffs -->
            <div class="diffContainer" data-bind="component: diff"></div>
            <!-- /ko -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
