lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

.ungitrc

report/
node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/
.bin/
public/css/
public/js/ungit.js

node_modules/mocha/
node_modules/expect.js/
node_modules/supertest/
node_modules/grunt/
node_modules/grunt-contrib-less/
node_modules/grunt-contrib-concat/
node_modules/grunt-contrib-watch/
node_modules/grunt-lineending/
node_modules/grunt-release/
