lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

public/css/
public/js/ungit.js
public/js/ungit.js.map
public/js/devStyling.js
public/images/

.ungitrc

report/
.bin/

/node_modules/

/clicktests/screenshots/
/build
/*.dll
/nw.exe
/nw.pak

/components/**/*.css
/components/**/*.bundle.js

coverage

/src
