# Ignore generated folders
.nyc_output/
build/
coverage/
dist/
node_modules/

# Ignore compiled files
components/**/*.bundle.js
components/**/*.css
public/css/
public/js/*.js
public/js/*.map

# Ignore potential files
.vscode/
.ungitrc
ungit-*.tgz
