# Ignore whole folders
.github/
.nyc_output/
assets/
build/
clicktests/
coverage/
dist/
scripts/
test/

# Ignore non-compiled sources
components/**/*.less
components/**/*.js
!components/**/*.bundle.js
public/images/icon.icns
public/images/icon.ico
public/js/.keep
public/js/raven.min.js.map
public/less/
public/source/
public/vendor/

# Ignore dot-files
.eslintignore
.eslintrc.json
.gitattributes
.mochaclicktest.json
.mochatest.json
.prettierignore
.prettierrc
.travis.yml
appveyor.yml

# Ignore docs
CONTRIBUTING.md
gpg_save_screenshot.png
MERGETOOL.md
PLUGINS.md
screenshot.png
xkcd.png

# Ignore potential files
.vscode/
.ungitrc
ungit-*.tgz
