lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules/

.ungitrc
.travis.yml
Gruntfile.js

assets/
test/
report/
public/source/
public/vendor/css/
public/vendor/js/
public/templates/
public/devStyling.html
public/js/devStyling.js

clicktests/
clicktestout/

teststabilitytester.js

build/
*.dll
nw.exe
nw.pak

.npmrc
