skip_branch_with_pr: true

environment:
  matrix:
  - nodejs_version: "6.0"

install:
  - ps: Install-Product node $env:nodejs_version
  - git config --global user.email "test@testy.com"
  - git config --global user.name "Test testy"
  - npm install
  - npm install -g grunt-cli

test_script:
  - node --version
  - npm --version
  - grunt
  - npm test

build: off
