
.toolbar {
  .refresh-button {
    background: rgba(0, 0, 0, 0.1);
    border: 0px;
    font-size: 22px;
  }
}

.repository-actions {
  .refresh-button {
    background: rgba(84, 101, 101, 1);
    border: 0px;
    font-size: 20px;
    height: 34px;
    padding-top: 3px;
  }
}
