<div class="repository">

	<div class='animated fadeInLeft' data-bind="visible: status() == 'loading'">
		Loading...
	</div>
	
	<div class="inited animated fadeInLeft" data-bind="visible: status() == 'inited'">

		<!-- ko if: gerritIntegration -->
		<div data-bind="template: { name: 'gerritIntegration', data: gerritIntegration }"></div>
		<!-- /ko -->

		<div class="repositoryMain" data-bind="css: { sidebarExtended: gerritIntegration }">

			<!-- ko if: remoteErrorPopup -->
			<div class="alert alert-danger">
				<button type="button" class="close" data-bind="click: closeRemoteErrorPopup" aria-hidden="true">&times;</button>
				<strong>Remote error!</strong>
				<span data-bind="text: remoteErrorPopup"></span>
			</div>
			<!-- /ko -->

			<!-- ko template: { name: 'staging', data: staging } --><!-- /ko -->

			<!-- ko if: staging.inRebase -->
			<h2 class="text-muted">Rebase in progress <small>resolve conflicts to continue</small></h2>
			<!-- /ko -->
			<!-- ko if: staging.inMerge -->
			<h2 class="text-muted">Merge in progress <small>resolve conflicts to continue</small></h2>
			<!-- /ko -->

			<!-- ko if: showLog -->

			<!-- ko if: showFetchButton -->
			<button class="fetchButton btn btn-default" data-bind="click: fetch, disable: fetchingProgressBar.running">
				<span class="glyphicon glyphicon-refresh"></span>
				Fetch remote nodes
				<!-- ko if: fetchingProgressBar.running -->
				<!-- ko template: { name: 'progressBar', data: fetchingProgressBar } --><!-- /ko -->
				<!-- /ko -->
			</button>
			<!-- /ko -->
			
			<!-- ko with: graph -->
			<div class="graph" data-bind="scrolledToEnd: scrolledToEnd">

				<div class="daySeparators" data-bind="foreach: daySeparators">
					<div class="daySeparator" data-bind="style: { left: x + 'px', top: y + 'px' }">
						<div class="dateLabel" data-bind="text: date"></div>
					</div>
				</div>

				<div class="graphLog" data-bind="graphLog: $data">
				</div>
				
				<div class="nodes" data-bind="foreach: nodes">
					<div class="nodeContainer" data-bind="style: { left: boxDisplayX() + 'px', top: boxDisplayY() + 'px' }">
						<div class="log" data-bind="visible: logBoxVisible, style: { left: logBoxX() + 'px' }, css: { hover: nodeIsMousehover }">
							<div class="logEntryBox panel">
								<div class="arrowContainer arrowRight">
									<div class="shadow"></div>
									<div class="arrow"></div>
								</div>
								<div class="title" data-bind="text: title"></div>
								<div class="body" data-bind="text: body, visible: nodeIsMousehover"></div>
								<div class="text-muted" data-bind="text: authorDate"></div>
								<a class="text-muted" data-bind="text: authorName, attr: { href: 'mailto:' + authorEmail }"></a>
							</div>
						</div>

						<div class="node" data-bind="event: { mouseover: nodeMouseover, mouseout: nodeMouseout }, style: { left: nodeX() + 'px', top: nodeY() + 'px', width: nodeWidth() + 'px', height: nodeHeight() + 'px' }">
						</div>

						<div class="rightSideContainer" data-bind="style: { left: refsX() + 'px' }">
							<!-- ko foreach: branches -->
							<span class="ref branch" data-bind="css: { current: current, remote: isRemoteBranch }, dragStart: dragStart, dragEnd: dragEnd" draggable="true">
								<img src="img/remoteIcon.png" data-bind="visible: isRemoteBranch">
								<img src="img/branchIcon.png">
								<span class="name" data-bind="text: displayName"></span>
							</span>
							<!-- /ko -->

							<!-- ko foreach: tags -->
							<span class="ref tag" data-bind="css: { current: current, remote: isRemoteTag }, dragStart: dragStart, dragEnd: dragEnd" draggable="true">
								<img src="img/remoteIcon.png" data-bind="visible: isRemote">
								<img src="img/tagIcon.png">
								<span class="name" data-bind="text: displayName"></span>
							</span>
							<!-- /ko -->

							<!-- ko foreach: dropareaGraphActions -->
							<span class="graphAction droparea" data-bind="css: style, visible: visible">
								<span data-bind="text: text"></span>
								<div class="dropmask" data-bind="dropOver: visible, drop: doPerform, dragEnter: dragEnter, dragLeave: dragLeave"></div>
								<!-- ko if: performProgressBar.running -->
								<!-- ko template: { name: 'progressBar', data: performProgressBar } --><!-- /ko -->
								<!-- /ko -->
							</span>
							<!-- /ko -->

							<span class="newRef" data-bind="css: { editing: branchingFormVisible }">
								<button class="showBranchingForm" data-bind="click: showBranchingForm, visible: !branchingFormVisible()">&#x271A;</button>
								<!-- ko if: branchingFormVisible -->
								<form class="form-inline" data-bind="submit: createBranch">
									<input class="name form-control" type="text" autofocus="true" data-bind="value: newBranchName, hasfocus: newBranchNameHasFocus">
									<input class="btn btn-primary" type="submit" value="Branch">
									<button class="btn btn-default" data-bind="click: createTag">Tag</button>
								</form>
								<!-- /ko -->
							</span>
						</div>

					</div>
				</div>

				<div class="graphFooter">
					<!-- ko if: isLoading -->
					<!-- ko template: { name: 'progressBar', data: nodesLoader } --><!-- /ko -->
					<!-- /ko -->
				</div>

			</div>
			<!-- /ko -->

			<!-- /ko -->

		</div>

	</div>

</div>
