<div data-bind="foreach: commitLineDiffs" class="commitdiff">
  <div class="file"> 
    <div class="head" data-bind="click: fileNameClick" data-ta-clickable="commitDiffFileName">
      <span data-bind="text: fileName"></span>
      <span class="file-stats" data-bind="visible: added() != '-'">
        (
        <span data-bind="text: added"></span> 
        <span data-bind="text: removed"></span>
        )
      </span>
    </div>
    <div class="diff" data-bind="visible: showSpecificDiff" data-ta-container="commitLineDiffs">
      <div class="diffContainer" data-bind="component: specificDiff"></div>
    </div>
  </div>
</div>
<div class="btn-group-sm loadMore" data-bind="visible: showLoadMore">
  <div class="btn btn-warning" data-bind='click: loadMore'>Load 50 more data</div>
</div>