<div class="btn-group btn-group-xs" data-bind="visible: showDiffButtons">
  <button class="btn btn-default bootstrap-tooltip pull-right" data-ta-clickable="commit-whitespace" data-bind="click: whiteSpace.toggle, css: {active: wordWrap.isActive}" data-toggle="tooltip" data-placement="bottom" data-original-title="Igonore whitespaces" data-delay='{"show":"2000", "hide":"0"}'>
    <span data-bind="text: whiteSpace.text"></span>
  </button>
</div>
<div class="btn-group btn-group-xs" data-bind="visible: showDiffButtons">
  <button class="btn btn-default bootstrap-tooltip pull-right" data-ta-clickable="commit-sideBySideDiff" data-bind="click: textDiffType.toggle, css: {active: textDiffType.isActive}" data-toggle="tooltip" data-placement="bottom" data-original-title="Show side by side diff view" data-delay='{"show":"2000", "hide":"0"}'>
    <span data-bind="text: textDiffType.text"></span>
  </button>
</div>
<div class="btn-group btn-group-xs" data-bind="visible: showDiffButtons">
  <button class="btn btn-default bootstrap-tooltip pull-right" data-ta-clickable="commit-wordwrap" data-bind="click: wordWrap.toggle, css: {active: wordWrap.isActive}" data-toggle="tooltip" data-placement="bottom" data-original-title="Wrap words per line" data-delay='{"show":"2000", "hide":"0"}'>
    <span data-bind="text: wordWrap.text"></span>
  </button>
</div>

<div data-bind="foreach: commitLineDiffs" class="commitdiff">
  <div class="file">
    <div class="head" data-bind="click: fileNameClick" data-ta-clickable="commitDiffFileName">
      <span data-bind="text: fileName"></span>
      <span class="file-stats" data-bind="visible: added() != '-'">
        (
        <span data-bind="text: added"></span>
        <span data-bind="text: removed"></span>
        )
      </span>
    </div>
    <div class="diffContainer" data-bind="component: specificDiff" data-ta-container="commitLineDiffs"></div>
  </div>
</div>
