
<div class="navbar navbar-fixed-top" data-bind="shown: shown">

	<div class="container container-wide">
		<a data-ta-clickable="home-link" class="navbar-brand" href="/#/"><img src="images/logo.png"></a>

		<div class="row">
		<form class="navbar-form pull-left path-input-form" data-bind="submit: submitPath">
			<div class="col-lg-12">
			<input data-ta-input="navigation-path" type="text" class="form-control input-lg" data-bind="value: path, autocomplete: path">
			</div>
		</form>
		</div>
	</div>
	
	<div class="arrowUp"></div>
	<div class="version" data-bind="text: currentVersion"></div>
</div>

<div class="container">
	<div class="alert alert-info" data-bind="visible: newVersionAvailable">
		A new version of ungit (<span data-bind="text: latestVersion"></span>) is available! Run 'npm update -g ungit' to install. (You are currently running version <span data-bind="text: currentVersion"></span>.)
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>

	<div class="alert alert-info clearfix" data-bind="visible: showBugtrackingNagscreen">
		<button type="button" class="close" data-bind="click: dismissBugtrackingNagscreen">&times;</button>
		<p><strong>Help make ungit better with the press of a button!</strong></p>

		<button class="btn btn-primary" data-bind="click: enableBugtrackingAndStatistics">Enable automatic bug reports + anonymous usage statistics</button>
		<button class="btn btn-primary" data-bind="click: enableBugtracking">Enable automatic bug reports</button>
		<button class="btn btn-default" data-bind="click: dismissBugtrackingNagscreen">Naah, I&#39;ll skip that</button>
	</div>

	<!-- ko foreach: gitErrors -->
	<div class="alert alert-danger">
		<button type="button" class="close" data-bind="click: dismiss">&times;</button>
		<h3><span class="glyphicon glyphicon-warning-sign"></span> Unhandled git error!</h3>
		<p>
			Ungit tried to run a git command that resulted in an unhandled error. <span data-bind="visible: bugReportWasSent">An automatic bug report was sent.</span>
		</p>
		<p data-bind="visible: tip, text: tip"></p>
		<p data-bind="visible: showEnableBugtracking">
			<button class="btn btn-primary" data-bind="click: enableBugtrackingAndStatistics">Enable bugtracking + usage statistics</button> or 
			<button class="btn btn-primary" data-bind="click: enableBugtracking">Enable automatic bug reports</button> to automatically report bugs, and/or <a href="https://github.com/FredrikNoren/ungit/issues" target="_blank">file an issue on the ungit issue tracker</a>.
		</p>
		<h4>Command</h4>
		<pre data-bind="text: command"></pre>
		<h4>Error</h4>
		<pre data-bind="text: error"></pre>
		<h4>Stderr</h4>
		<pre data-bind="text: stderr"></pre>
		<h4>Stdout</h4>
		<pre data-bind="text: stdout"></pre>
	</div>
	<!-- /ko -->
</div>

<!-- ko if: content -->
<div class="container container-wide" data-bind="template: { name: templateChooser, data: content }"></div>
<!-- /ko -->


<!-- ko if: dialog -->
<!-- ko template: { name: templateChooser, data: dialog } --><!-- /ko -->
<!-- /ko -->