
<div class="gerritIntegration panel">
	<div class="panel-heading"><h1>Gerrit</h1></div>

	<p>
		<button class="btn btn-primary" data-bind="visible: showInitCommmitHook, click: initCommitHook">
			Init commit hook
			<!-- ko template: { name: 'temporaryProgressBar', data: initGerritHookProgressBar } --><!-- /ko -->
		</button>
	</p>

	<p>
		<button class="btn btn-primary" data-bind="click: pushForReview">
			Push changes for review
			<!-- ko template: { name: 'temporaryProgressBar', data: pushingProgressBar } --><!-- /ko -->
		</button>
	</p>

	<div class="changes">
		<!-- ko if: status() == 'loading' -->
		<div class="loading">
		<!-- ko template: { name: 'progressBar', data: changesLoader } --><!-- /ko -->
		</div>
		<!-- /ko -->
		<div data-bind="visible: status() == 'failed'">Failed to load changes</div>
		<div data-bind="visible: status() == 'loaded'" class="animated fadeInLeft">
			<div data-bind="foreach: changes">
				<p>
					<hr>
					<h4><a href="#" data-bind="text: subject, attr: { href: gerritUrl }" target="_blank"></a> <small> by <span data-bind="text: ownerName"></span></small></h4>
					<button class="btn btn-primary" data-bind="click: checkout">
						Checkout
						<!-- ko template: { name: 'temporaryProgressBar', data: checkingOutProgressBar } --><!-- /ko -->
					</button>
					<button class="btn btn-default" data-bind="click: cherryPick">
						Cherry pick
						<!-- ko template: { name: 'temporaryProgressBar', data: cherryPickingProgressBar } --><!-- /ko -->
					</button>
				</p>
			</div>
		</div>
	</div>
</div>