
<div class="imageDiff">
<!-- ko if: state() == 'new' -->
<img data-bind="attr: { src: newImageSrc }" class="img-responsive">
<!-- /ko -->
<!-- ko if: state() == 'removed' -->
<img data-bind="attr: { src: oldImageSrc }" class="img-responsive">
<!-- /ko -->
<!-- ko if: state() == 'changed' -->
<div class="row">
	<div class="col-lg-5">
		<img data-bind="attr: { src: oldImageSrc }" class="img-responsive">
	</div>
	<div class="col-lg-2">
		<span class="glyphicon glyphicon-arrow-right"></span>
	</div>
	<div class="col-lg-5">
		<img data-bind="attr: { src: newImageSrc }" class="img-responsive">
	</div>
</div>
<!-- /ko -->
</div>