
<table class="fileDiff" data-bind="foreach: $data">
	<tr>
		<td class="imageDiffContent fileDiffRemoved" data-bind="visible: isFirstElementImage">
			<img class="diffImage" data-bind="attr:{src: firstElement}" />  
		</td>

		<td class="imageDiffContent" style="width: 35px;" data-bind="visible: isFirstElementImage && isSecondElementImage"><span class="glyphicon glyphicon-arrow-right"></span>

		<td class="imageDiffContent fileDiffAdded" data-bind="visible: isSecondElementImage">
			<img class="diffImage" data-bind="attr:{src: secondElement}" />
		</td>
	</tr>
</table>
