
<table class="fileDiff" data-bind="foreach: $data">
	<tr>
		<td class="imageDiffContent fileDiffRemoved" data-bind="if: isFirstElementImage, visible: isFirstElementImage">
			<img class="diffImage" data-bind="attr:{src: firstElement}" />  
		</td>

		<td class="imageDiffContent" style="width: 40px;" data-bind="visible: isFirstElementImage && isSecondElementImage">=&#62;</td>

		<td class="imageDiffContent fileDiffAdded" data-bind="if: isSecondElementImage, visible: isSecondElementImage">
			<img class="diffImage" data-bind="attr:{src: secondElement}" />
		</td>
		<td data-bind="ifnot: isSecondElementImage, visible: !isSecondElementImage">
			<span data-bind="text: secondElement"/> 
		</td>
	</tr>
</table>
