
<div class="staging panel panel-default" data-bind="css: { commitValidationError: commitValidationError }">
	<div class="panel-body">
		<div class="arrowContainer arrowDown">
			<div class="arrow"></div>
		</div>
		<div data-bind="visible: showNux" class="nux">
			<!-- There's both a refresh button here and futher down, because on small screens we want the refresh button to be below the commit-message thing when there's changes -->
			<button class="btn btn-default refresh-button" data-bind="click: refresh">
				<span class="glyphicon glyphicon-refresh"></span>
				<!-- ko template: { name: 'temporaryProgressBar', data: refreshingProgressBar } --><!-- /ko -->
			</button>
			Nothing to commit. <a href="#" data-bind="click: toogleAmend, visible: canAmend">Amend previous commit?</a>
		</div>
		<div class="row" data-bind="visible: !showNux()">
			<div class="col-lg-3">
				<input class="form-control" data-ta-input="staging-commit-title" type="text" placeholder="Title (required)" data-bind="value: commitMessageTitle, valueUpdate: 'afterkeydown', enable: !inRebase()">
				<textarea class="form-control" rows="2" placeholder="Body" data-bind="value: commitMessageBody, valueUpdate: 'afterkeydown', enable: !inRebase()"></textarea>
				<div>
					<span class="amend" data-bind="visible: canAmend">
	                        <span class="checkmark" data-bind="css: { checked: amend }">&#10003;</span>
	                        <a href="#" data-bind="click: toogleAmend">Amend last commit</a>
	                </span>
				</div>
				
				<button class="btn btn-primary btn-lg" data-ta-clickable="commit" data-bind="click: commit, visible: commitButtonVisible, enable: !commitValidationError()">
					Commit
					<!-- ko template: { name: 'temporaryProgressBar', data: committingProgressBar } --><!-- /ko -->
				</button>
				<button class="rebaseContinueButton btn btn-primary" data-bind="click: rebaseContinue, visible: inRebase, enable: !commitValidationError()">
					Continue rebase
					<!-- ko template: { name: 'temporaryProgressBar', data: rebaseContinueProgressBar } --><!-- /ko -->
				</button>
				<button class="rebaseAbortButton btn btn-warning" data-bind="click: rebaseAbort, visible: inRebase">
					Abort rebase
					<!-- ko template: { name: 'temporaryProgressBar', data: rebaseAbortProgressBar } --><!-- /ko -->
				</button>
				<button class="mergeContinueButton btn btn-primary" data-bind="click: mergeContinue, visible: inMerge, enable: !commitValidationError()">
					Continue merge
					<!-- ko template: { name: 'temporaryProgressBar', data: mergeContinueProgressBar } --><!-- /ko -->
				</button>
				<button class="mergeAbortButton btn btn-warning" data-bind="click: mergeAbort, visible: inMerge">
					Abort merge
					<!-- ko template: { name: 'temporaryProgressBar', data: mergeAbortProgressBar } --><!-- /ko -->
				</button>
				<span class="validationError" data-bind="text: commitValidationError, visible: commitValidationError"></span>
			</div>
			<div class="col-lg-9 file-area">
				<button class="btn btn-default refresh-button pull-right" data-bind="click: refresh">
					<span class="glyphicon glyphicon-refresh"></span>
					<!-- ko template: { name: 'temporaryProgressBar', data: refreshingProgressBar } --><!-- /ko -->
				</button>
				<div class="commands"> 
					<span data-bind="text: stats"></span>
	                - <span id="toogleAllStages" class="stageIcon glyphicon" data-bind="click: toogleAllStages, css: toggleSelectAllGlyphClass">&nbsp;Toggle all</span>
	                - <span class="stageIcon glyphicon glyphicon-trash" data-bind="click: discardAllChanges">&nbsp;Discard all</span>
	                - <span class="stageIcon glyphicon glyphicon-paperclip" data-bind="click: stashAll, css: { disabled: !canStashAll() }">&nbsp;Stash all</span>

				</div>
				<div class="files" data-bind="foreach: files">
					<div class="file" data-bind="css: { showingDiffs: showingDiffs }" data-ta-container="staging-file">
						<div class="checkmark" data-bind="click: toogleStaged, css: { checked: staged }">
							&#10003;
						</div>
						<button class="name btn btn-default" data-bind="click: toogleDiffs">
							<span data-bind="text: name"></span>
							<!-- ko template: { name: 'temporaryProgressBar', data: diffsProgressBar } --><!-- /ko -->
						</button>
						<span class="new" data-bind="visible: isNew">New</span>
						<span class="deleted" data-bind="visible: removed">Removed</span>
						<span class="conflict" data-bind="visible: conflict, click: resolveConflict"><span class="explanation">Resolve&nbsp;</span>Conflict</span>
						<span class="ignore" data-ta-clickable="ignore-file" data-bind="click: ignoreFile">i<span class="explanation">&nbsp;Add to .gitignore</span></span>
						<span class="discard" data-ta-clickable="discard-file" data-bind="click: discardChanges">&#x2716;<span class="explanation">&nbsp;Discard changes</span></span>
						<!-- ko if: showingDiffs -->
						<div class="diffContainer" data-bind="template: { name: templateName, data: diff }"></div>
						<!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
