
<div class="graph" data-bind="scrolledToEnd: scrolledToEnd, click: handleBubbledClick" data-ta-clickable="graph">

  <!-- ko template: { name: 'graphGraphics' } --><!-- /ko -->

  <div class="nodes" data-bind="foreach: nodes">
    <div class="nodeContainer animation" data-ta-container="node" data-bind="style: { left: '0px', top: cy() + 'px' }, attr: { 'data-ta-node-title': title }">
      <div class="commit-container animation" data-bind="visible: commitContainerVisible, style: { left: cx() - 620 + 'px' }">
        <!-- ko component: commitComponent -->
        <!-- /ko -->
      </div>

      <div class="rightSideContainer" data-bind="style: { left: cx() + r() - 433 + 'px' }">
        <!-- ko foreach: branches -->
        <span class="ref branch" data-ta-clickable="branch" draggable="true" tabIndex="-1"
            data-bind="css: { current: current, remote: isRemoteBranch, dragging: isDragging, focused: selected },
              click: selected,
              dragStart: dragStart, dragEnd: dragEnd, attr: { 'data-ta-name': localRefName, 'data-ta-current': current, 'data-ta-local': isLocal }" >
          <span class="octicon octicon-broadcast" data-bind="visible: isRemoteBranch"></span>
          <span class="octicon octicon-git-branch"></span>
          <span class="name" data-bind="text: localRefName"></span>
        </span>
        <!-- /ko -->

        <!-- ko foreach: tags -->
        <span class="ref tag" data-ta-clickable="tag" draggable="true" tabIndex="0"
            data-bind="css: { current: current, remote: isRemoteTag, dragging: isDragging, focused: selected },
              click: selected,
              dragStart: dragStart, dragEnd: dragEnd, attr: { 'data-ta-name': localRefName, 'data-ta-current': current }">
          <span class="octicon octicon-globe" data-bind="visible: isRemote"></span>
          <span class="octicon octicon-tag"></span>
          <span class="name" data-bind="text: localRefName"></span>
        </span>
        <!-- /ko -->

        <!-- ko foreach: dropareaGraphActions -->
        <span class="graphAction droparea" data-bind="css: cssClasses, visible: visible, attr: { 'data-ta-action': style, 'data-ta-visible': visible }, event: { mouseover: mouseover, mouseout: mouseout }">
          <!-- ko if: icon --><span data-bind="css: icon" class="icon"></span><!-- /ko -->
          <span data-bind="text: text"></span>
          <div class="dropmask" tabIndex="0" role="button" data-bind="dropOver: visible, drop: doPerform, dragEnter: dragEnter, dragLeave: dragLeave, click: doPerform"></div>
          <!-- ko component: performProgressBar --><!-- /ko -->
        </span>
        <!-- /ko -->

        <!-- ko if: showNewRefAction -->
        <span class="newRef" data-bind="css: { editing: branchingFormVisible }">
          <button class="showBranchingForm" data-ta-clickable="show-new-branch-form" data-bind="click: showBranchingForm, visible: !branchingFormVisible()">&#x271A;</button>
          <!-- ko if: branchingFormVisible -->
          <div class="form-inline">
            <input class="name form-control" data-ta-input="new-branch-name" type="text" data-bind="value: newBranchName, hasfocus: newBranchNameHasFocus, valueUpdate: 'afterkeydown'"/>
            <button class="btn btn-primary" data-ta-clickable="create-branch" type="submit" value="Branch" data-bind="click: createBranch, enable: canCreateRef">Branch</button>
            <button class="btn btn-default" data-ta-clickable="create-tag" data-bind="click: createTag, enable: canCreateRef">Tag</button>
          </div>
          <!-- /ko -->
        </span>
        <!-- /ko -->

      </div>

    </div>
  </div>
  <div class="graphFooter">
    <!-- ko component: nodesLoader --><!-- /ko -->
  </div>
</div>
