<div class="graph" data-bind="scrolledToEnd: scrolledToEnd, click: handleBubbledClick">

  <!-- ko template: { name: 'graphGraphics', data: graphic } --><!-- /ko -->

  <div class="nodes" data-bind="foreach: nodes">
    <div class="nodeContainer" data-ta-container="node" data-bind="style: { left: boxDisplayX() + 'px', top: boxDisplayY() + 'px' }, attr: { 'data-ta-node-title': title }">
      <div class="log" data-bind="visible: logBoxVisible, style: { left: logBoxX() + 'px' }, css: { highlighted: highlighted, hover: nodeIsMousehover }">
        <div class="logEntryBox panel panel-default">
          <div class="panel-body">
            <div class="arrowContainer arrowRight">
              <div class="shadow"></div>
              <div class="arrow"></div>
            </div>
            <div class="clearfix">
              <img class="pull-left img-circle gravatar"
                data-bind="attr: { src: 'http://www.gravatar.com/avatar/' + authorGravatar() + '?default=404' }" 
                onerror="this.style.display='none';">
              <div>
                <div>
                  <span class="title" data-bind="text: title"></span>
                  <span class="text-muted">by <a data-bind="text: authorName, attr: { href: 'mailto:' + authorEmail() }"></a></span>
                </div>
                <div class="text-muted nodeSummaryContainer">
                  <span data-bind="text: authorDateFromNow"></span> | 
                  +<span data-bind="text: numberOfAddedLines"></span>,
                  -<span data-bind="text: numberOfRemovedLines"></span>
                   | 
                  <span data-bind="text: sha1.substr(0, 8)"></span>
                </div>
              </div>
            </div>
            <div class="body" data-bind="text: body, visible: showBody"></div>
            <div data-bind="visible: selected() || nodeIsMousehover(), component: commitDiff"></div>
          </div>
        </div>
      </div>

      <div tabIndex="-1" class="node" data-bind="event: { mouseover: nodeMouseover, mouseout: nodeMouseout },
        click: selected,
        style: { left: nodeX() + 'px', top: nodeY() + 'px', width: nodeWidth() + 'px', height: nodeHeight() + 'px' }"
        data-ta-clickable="node-clickable">
      </div>

      <div class="rightSideContainer" data-bind="style: { left: refsX() + 'px' }">
        <!-- ko foreach: branches -->
        <span class="ref branch" data-ta-clickable="branch" draggable="true" tabIndex="-1" 
            data-bind="css: { current: current, remote: isRemoteBranch, dragging: isDragging, focused: selected }, 
              click: selected,
              dragStart: dragStart, dragEnd: dragEnd, attr: { 'data-ta-name': localRefName, 'data-ta-current': current, 'data-ta-local': isLocal }" >
          <div class="remote-icon" data-bind="visible: isRemoteBranch"></div>
          <div class="branch-icon"></div>
          <span class="name" data-bind="text: localRefName"></span>
        </span>
        <!-- /ko -->

        <!-- ko foreach: tags -->
        <span class="ref tag" data-ta-clickable="tag" draggable="true" tabIndex="0" 
            data-bind="css: { current: current, remote: isRemoteTag, dragging: isDragging, focused: selected }, 
              click: selected,
              dragStart: dragStart, dragEnd: dragEnd, attr: { 'data-ta-name': localRefName, 'data-ta-current': current }">
          <div class="remote-icon" data-bind="visible: isRemote"></div>
          <div class="tag-icon"></div>
          <span class="name" data-bind="text: localRefName"></span>
        </span>
        <!-- /ko -->

        <!-- ko foreach: dropareaGraphActions -->
        <span class="graphAction droparea" data-bind="css: cssClasses, visible: visible, attr: { 'data-ta-action': style, 'data-ta-visible': visible }, event: { mouseover: mouseover, mouseout: mouseout }">
          <!-- ko if: icon --><span class="glyphicon" data-bind="css: icon"></span><!-- /ko -->
          <span data-bind="text: text"></span>
          <div class="dropmask" data-bind="dropOver: visible, drop: doPerform, dragEnter: dragEnter, dragLeave: dragLeave, click: doPerform"></div>
          <!-- ko component: performProgressBar --><!-- /ko -->
        </span>
        
        <!-- /ko -->

        <!-- ko if: showNewRefAction -->
        <span class="newRef" data-bind="css: { editing: branchingFormVisible }">
          <button class="showBranchingForm" data-ta-clickable="show-new-branch-form" data-bind="click: showBranchingForm, visible: !branchingFormVisible()">&#x271A;</button>
          <!-- ko if: branchingFormVisible -->
          <form class="form-inline" data-bind="submit: createBranch">
            <input class="name form-control" data-ta-input="new-branch-name" type="text" autofocus="true" data-bind="value: newBranchName, hasfocus: newBranchNameHasFocus, valueUpdate: 'afterkeydown'">
            <input class="btn btn-primary" data-ta-clickable="create-branch" type="submit" value="Branch" data-bind="enable: canCreateRef">
            <button class="btn btn-default" data-ta-clickable="create-tag" data-bind="click: createTag, enable: canCreateRef">Tag</button>
          </form>
          <!-- /ko -->
        </span>
        <!-- /ko -->
      </div>

    </div>
  </div>

  <div class="graphFooter">
    <!-- ko component: nodesLoader --><!-- /ko -->
  </div>

</div>