
<svg class="graphLog" xmlns="http://www.w3.org/2000/svg" version="1.1" data-bind="attr: { width: graphWidth, height: graphHeight }">
  <defs>
    <marker id="rebaseArrowEnd"
      viewBox="0 0 10 10" refX="0" refY="5"
      markerUnits="strokeWidth"
      markerWidth="4" markerHeight="3"
      orient="auto">
      <path d="M 0 0 L 10 5 L 0 10 z" fill="#22252E" />
    </marker>
    <marker id="pushArrowEnd"
      viewBox="0 0 10 10" refX="0" refY="5"
      markerUnits="strokeWidth"
      markerWidth="4" markerHeight="3"
      orient="auto">
      <path d="M 0 0 L 10 5 L 0 10 z" fill="rgb(61, 139, 255)" />
    </marker>
  </defs>
  <g>
    <path d="M 610 68 v 99999" stroke="#4A4A4A" stroke-width="8" stroke-dasharray="10, 5" />
    <circle cx="610" data-bind="attr: { stroke: '#4A4A4A' }" cy="35" r="30" stroke="#252833" stroke-dasharray="10, 7" stroke-width="10" fill="transparent"/>

    <!-- ko foreach: edges -->
      <path data-bind="attr: { d: path }" stroke="#4A4A4A" stroke-width="8" />
    <!-- /ko -->
    <!-- ko foreach: nodes -->
      <circle data-bind="attr: { cx: cx, cy: cy, r: r, fill: color }, click: toggleSelected" />
      <!-- ko if: selected -->
        <circle data-bind="attr: { cx: cx, cy: cy, r: r() - 4 }, click: toggleSelected" stroke="#252833" stroke-width="4" fill="transparent" />
      <!-- /ko -->
    <!-- /ko -->


    <!-- ko if: hoverGraphActionGraphicType() == 'reset' --><!-- ko with: hoverGraphActionGraphic -->
      <!-- ko foreach: nodes -->
      <path data-bind="attr: { d: getRightToLeftStrike() }" stroke="rgb(255, 129, 31)" stroke-width="8" />
      <path data-bind="attr: { d: getLeftToRightStrike() }" stroke="rgb(255, 129, 31)" stroke-width="8" />
      <!-- /ko -->
    <!-- /ko --><!-- /ko -->
    
    <!-- ko if: hoverGraphActionGraphicType() == 'rebase' --><!-- ko with: hoverGraphActionGraphic -->
      <!-- ko foreach: edges -->
      <path data-bind="attr: { d: d }" stroke="#4A4A4A" stroke-width="8" stroke-dasharray="10, 5" />
      <!-- /ko -->
      <!-- ko foreach: nodes -->
      <circle data-bind="attr: { cx: cx, cy: cy }" r="28" fill="transparent" stroke="#41DE3C" stroke-width="8" stroke-dasharray="10, 5" />
      <!-- /ko -->
    <!-- /ko --><!-- /ko -->

    <!-- ko if: hoverGraphActionGraphicType() == 'push' --><!-- ko with: hoverGraphActionGraphic -->
      <!-- ko foreach: edges -->
        <path data-bind="attr: { d: d }" stroke="rgb(61, 139, 255)" stroke-width="15" stroke-dasharray="10, 5" marker-end="url(#pushArrowEnd)" />
      <!-- /ko -->
    <!-- /ko --><!-- /ko -->
  </g>
</svg>
