
<table class="textDiff" data-bind="foreach: diffs">
  <tr data-bind="css: { textDiffAdded: added, textDiffRemoved: removed }">
    <td class="textDiffLineNumbers" data-bind="text: oldLineNumber"></td>
    <td class="textDiffLineNumbers" data-bind="text: newLineNumber"></td>
    <td class="textDiffContent" data-bind="text: text"></td>
  </tr>
</table>
<div class="loadFullDiffButton" data-bind="visible: showLoadAllButton">
  <span class="btn btn-danger" data-bind="click: loadAllLines">Load all <span data-bind="text: totalNumberOfLines"></span> lines</span>
</div>
