.detailed-diff {
  .modal-dialog {
    width: 95%;
    height: 95%;
    display: table;
    table-layout: fixed;
    margin: 15px auto;

    .modal-content{
      display: table-cell;

      .modal-footer {

        position: absolute;
        width: 100%;
      }
    }
  }
}
