<div class="modal fade" data-bind="modal: { onclose: onclose, closer: setCloser }, attr: { 'data-ta-container': 'detailed-diff' }" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" data-bind="text: 'Detailed Diff'"></h4>
      </div>
      <div class="modal-body">
        <p data-bind="text: 'body'"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bind="click: close" data-ta-clickable="close">close</button>
      </div>
    </div>
  </div>
</div>
