
.fileDiff {
	border-spacing: 0px 0px;
	tr, td {
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
	.lineNumbers {
		width: 50px;
		text-align: center;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		color: rgba(0, 0, 0, 0.5);
	}
	.added {
		background: #66F27B;
		color: #000;
	}
	.removed {
		background: #E86756;
		color: #fff;
	}
	.diffs {
		.diff {
			padding-left: 10px;
			padding-right: 3px;
			white-space: pre;
			word-wrap: break-word;
		}
	}
}

@logWidth: 670px;
@graphTopOffset: 120px;

.repository {
	position: relative;
	padding-right: 40px;
	height: auto;
	margin-bottom: 1px;
	padding-bottom: 1px;

	.gerritIntegration {
		float: left;
		width: 300px;
	}

	.rebasing {
		margin-left: (@logWidth + 0px);
		margin-top: 50px;
		font-size: 3em;
		color: #888;
	}

	.repositoryMain {
		height: auto;
		padding-right: 5px;
		margin-bottom: 1px;
		padding-bottom: 1px;
		position: relative;
		&.sidebarExtended {
			margin-left: 360px;
		}
	}

	.enableGerritIntegration {
		z-index: 100;
		position: absolute;
		right: 0px;
		margin-top: 20px;
	}
	
	.graphUtils {
		background: #474747;
		position: absolute;
		margin-top: 20px;
		left: (@logWidth + 210px);
		color: #fff;
		padding: 10px;
		.arrowDown {
			position: absolute;
			left: 10px;
			bottom: -15px;
		}
		.title {
			font-size: 1.3em;
		}
		.fetchingIndicator {
			font-size: 1.3em;
			color: #89BCE8;
		}
	}

	.remoteErrorPopup {
		position: absolute;
		display: inline-block;
		background: #ff0000;
		color: #fff;
		border-radius: 4px;
		left: 50%;
		padding: 5px;
		margin-top: 10px;
		z-index: 20;
	}
}

.repository .staging {
	background: #EDF0CA;
	color: #58594E;
	position: relative;
	padding: 10px;

	box-sizing:border-box;
	-moz-box-sizing:border-box;

	a {
		color: #27A5E8;
		&:hover {
			color: #5EBFF2;
		}
	}


	.arrowDown {
		position: absolute;
		left: (@logWidth + 60px - 15px + 100px);
		bottom: 0px;
	}

	table {
		table-layout:fixed;
		width:100%;
	}

	.commitArea {
		width: 600px;
		vertical-align: top;
		.commitMessage {
			display: block;
			width: 100%;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			border-radius: 5px;
			.title, .body {
				border: 1px solid #eee;
			}
			.title {
				font-size: 1.2em;
				display: block;
				padding: 10px;
				width: 100%;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
			}
			.body {
				display: block;
				width: 100%;
				padding: 5px;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
			}
		}
		.commitButton {
			font-size: 1.6em;
		}
		.validationError {
			display: none;
		}
		&:hover .validationError {
			display: inline-block;
		}
		.stats {
			font-size: 0.9em;
		}
		.files {
			position: relative;
			.file {
				&.showingDiffs {
					.name {
						background: #fff;
						border-color: #bbb;
					}
				}
				.arrowLeft {
					position: absolute;
					right: -10px;
					z-index: 10;
				}
				.name {
					font-size: 1.3em;
					cursor: pointer;
					padding: 3px;
					border-radius: 3px;
					border: 1px solid transparent;
				}
				padding: 0.3em;
				
				.new, .deleted, .conflict {
					color: #fff;
					border-radius: 3px;
					padding: 3px;
					padding-left: 5px;
					padding-right: 5px;
				}
				.new {
					background: #89D64D;
				}
				.deleted {
					background: #DB3712;
				}
				.conflict {
					background: #DB12C0;
					cursor: pointer;
					.explanation {
						display: none;
					}
					&:hover {
						background: #A445ED;
						.explanation {
							display: inline-block;
						}
					}
				}
				.discard {
					background: #CCD1B9;
					color: #fff;
					border-radius: 3px;
					padding: 3px;
					padding-left: 5px;
					padding-right: 5px;
					cursor: pointer;
					.explanation {
						display: none;
					}
					&:hover {
						background: #000;
						.explanation {
							display: inline-block;
						}
					}
				}
			}
		}
	}

	.diffArea {
		position: relative;
		vertical-align: top;


		&.noFileSelected {
			margin: 5px;
			background: #fff;
			border-radius: 5px;
			color: #999;
			padding: 10px;
			border: 1px dashed #bbb;
			opacity: 0.5;
			text-align: center;
		}

		.fileDiff {
			background: #fff;
			padding-top: 5px;
			padding-bottom: 5px;
			border: 1px solid #bbb;
			border-radius: 5px;
			margin: 5px;
			font-size: 0.9em;
			color: #666;
		}

	}

	.committing {
		font-size: 1.3em;
		padding: 40px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		.throbber {
			display: inline-block;
			margin-top: 30px;
		}
	}
}

.repository .graph {

	position: relative;
	margin-top: 30px;
	margin-bottom: 1px;
	padding-bottom: 1px;

	.graphLog {
		position: relative;
		top: -200px;
		left: (@logWidth + 125px);
	}

	.nodeContainer {
		position: absolute;
		
		.log {
			position: absolute;
			margin-left: 100px;
			&.hover {
				z-index: 2;
				.logEntryBox {
					box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
					top: -25px;
					left: -5px;
				}
			}

			.logEntryBox {
				position: relative;
				top: -20px;
				background: #3C4653;
				color: #B4C0C5;
				
				padding: 10px;
				width: @logWidth;
				box-sizing:border-box;
				-moz-box-sizing:border-box;	
				.arrowRight {
					position: absolute;
					right: 0px;
					top: 5px;
				}
				.author, .date {
					color: #707A85;
				}
				.title {
					font-size: 1.3em;
				}
			}
		}

		.node {
			position: absolute;
			margin-left: (@logWidth + 130px);
		}

		.refs {
			position: absolute;
			margin-left: (@logWidth + 140px);
			top: -16px;
			width: 900px;
			.refbox {
				float: left;
				margin-right: 5px;
				position: relative;
				display: inline-block;
				
				box-sizing:border-box;
				-moz-box-sizing:border-box;	
				color: #fff;
				height: 32px;
				padding: 5px;
				padding-left: 10px;
				padding-right: 10px;
				opacity: 0.6;

				.name {
					display: inline-block;
				}
				.refType {
					opacity: 0.5;
					font-size: 0.8em;
				}
				&.current {
					font-weight: bold;
					opacity: 1;
				}
				&.remote {
					color: #89BCE8;
					opacity: 0.3;
				}
				&.tag {
					color: #EEF266;
				}
				&.tag, &.branch {
					cursor: move;
				}
				&.graphAction {
					opacity: 1;
					color: #fff;
					cursor: pointer;
					.tooltip {
						display: none;
					}
					&:hover {
						.tooltip {
							display: inline-block;
						}
					}
				}
				&.push {
					background: rgb(61, 139, 255);
				}
				&.pull {
					background: #26BDBD;
				}
				&.reset {
					background: rgb(255, 129, 31);
				}
				&.rebase {
					background: #41DE3C;
				}
				&.move {
					background: rgba(0, 0, 0, 0.1);
				}
				&.merge {
					background: #D087D4;
				}
				&.checkout {
					background: #CDDB37;
				}
				&.delete {
					background: #D64D38;
				}
				&.droparea {
					opacity: 0;

					-moz-transition: opacity 0.3s;
					-webkit-transition: opacity 0.3s;
					-o-transition: opacity 0.3s;
					transition: opacity 0.3s;
					&.show {
						opacity: 1;
					}
					.progressBar {
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0px;
						top: 0px;
						background: transparent;
					}
				}
				&.newRef {
					opacity: 0.1;
					padding-top: 2px;
					padding-bottom: 2px;
					.showBranchingForm, .name, .submit {
						height: 100%;
						margin-top: 0px;
						margin-bottom: 0px;
						box-sizing:border-box;
						-moz-box-sizing:border-box;	
					}
					.showBranchingForm {
						background: transparent;
						cursor: pointer;
						padding: 0px;
						margin: 0px;
					}
					form {
						margin: 0px;
						padding: 0px;
						height: 100%;
						box-sizing:border-box;
						-moz-box-sizing:border-box;	
					}
					input.name {
						background: transparent;
						color: #fff;
						border: 0px;
						font-size: 1em;
						padding: 3px;
						margin: 0px;
						width: 200px;
					}
					.submit {
					}
					&:hover, &.editing {
						opacity: 0.8;
					}
				}
			}
		}

	}

	.daySeparators {
		position: absolute;
		top: -15px;
		left: 0px;
		.daySeparator {
			position: absolute;
			font-size: 1.1em;
			color: #364B53;
			text-shadow: 1px 1px rgb(21, 28, 41);
			width: 70px;
			padding: 5px;
			.arrowRight {
				position: absolute;
				right: -15px;
				top: -3px;
				display: none;
			}
		}
	}

	.graphFooter {
		height: 60px;
		.progressBar {
			position: relative;
			top: -150px;
			margin-left: (@logWidth);
		}
	}

}