
.fileDiff {
	border-spacing: 0px 0px;
	tr, td {
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
	.lineNumbers {
		width: 50px;
		text-align: center;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		color: rgba(0, 0, 0, 0.5);
	}
	.added {
		background: #66F27B;
		color: #000;
	}
	.removed {
		background: #E86756;
		color: #fff;
	}
	.diffs {
		.diff {
			padding-left: 10px;
			padding-right: 3px;
			white-space: pre;
			word-wrap: break-word;
		}
	}
}

@logWidth: 450px;
@graphTopOffset: 120px;

.repository {
	position: relative;
	height: auto;
	margin-bottom: 1px;
	padding-bottom: 1px;

	.gerritIntegration {
		float: left;
		width: 300px;
	}

	.rebasing {
		margin-left: (@logWidth + 0px);
		margin-top: 50px;
		font-size: 3em;
		color: #888;
	}

	.repositoryMain {
		height: auto;
		padding-right: 5px;
		margin-bottom: 1px;
		padding-bottom: 1px;
		position: relative;
		&.sidebarExtended {
			margin-left: 330px;
		}
	}

	.enableGerritIntegration {
		z-index: 100;
		position: absolute;
		right: 0px;
		margin-top: 20px;
	}
	
	.remoteErrorPopup {
		position: absolute;
		display: inline-block;
		background: #ff0000;
		color: #fff;
		border-radius: 4px;
		left: 50%;
		padding: 5px;
		margin-top: 10px;
		z-index: 20;
	}
}

.repository .staging {

	.files {
		position: relative;
		.file {
			&.showingDiffs {
				.name {
					background: rgba(255, 255, 255, 0.1);
					color: #000;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
				}
			}
			.name {
				background: transparent;
				font-size: 1.3em;
				cursor: pointer;
				padding: 3px;
				border-radius: 3px;
				color: rgba(255, 255, 255, 0.8);
			}
			padding: 0.3em;
			
			.new, .deleted, .conflict {
				padding: 3px;
				padding-left: 5px;
				padding-right: 5px;
			}
			.new {
				color: #89D64D;
			}
			.deleted {
				color: #DB3712;
			}
			.conflict {
				color: #DB12C0;
				cursor: pointer;
				.explanation {
					display: none;
				}
				&:hover {
					background: #A445ED;
					color: #000;
					border-radius: 3px;
					.explanation {
						display: inline;
					}
				}
			}
			.discard {
				background: transparent;
				color: rgba(255, 255, 255, 0.3);
				border-radius: 3px;
				padding: 3px;
				padding-left: 5px;
				padding-right: 5px;
				cursor: pointer;
				.explanation {
					display: none;
				}
				&:hover {
					background: #000;
					color: rgba(255, 255, 255, 0.9);
					.explanation {
						display: inline-block;
					}
				}
			}
		}
	}

	.diffContainer {
		position: relative;
		margin-top: 0px;
		border-radius: 3px;
		background: rgba(255, 255, 255, 0.1);
		width: 100%;
		.fileDiff {
			overflow: hidden;
			table-layout: fixed;
			width: 100%;
			max-width: none;
		}
	}

	.committing {
		font-size: 1.3em;
		padding: 40px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		.throbber {
			display: inline-block;
			margin-top: 30px;
		}
	}
}

.repository .graph {

	position: relative;
	margin-top: 30px;
	margin-bottom: 1px;
	padding-bottom: 1px;

	.graphLog {
		position: relative;
		display: inline-block;
		top: -200px;
		left: (@logWidth + 125px);
	}

	.nodeContainer {
		position: absolute;
		
		.log {
			position: absolute;
			margin-left: 100px;
			&.hover {
				z-index: 2;
				.logEntryBox {
					box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
					background: #4B5766;
					top: -25px;
					left: -5px;
					.arrowRight {
						.shadow {
							display: block;
						}
						.arrow {
							background: url('../images/lightBlueArrowRight.png');
						}
					}
				}
			}

			.logEntryBox {
				position: relative;
				top: -20px;
				
				padding: 10px;
				width: @logWidth;
				.arrowRight {
					position: absolute;
					right: 0px;
					top: 5px;
					.shadow {
						display: none;
					}
				}
				.title {
					font-size: 1.3em;
				}
				.body {
					white-space: pre;
					color: #8F9FA6;
				}
			}
		}

		.node {
			position: absolute;
			margin-left: (@logWidth + 130px);
		}

		.refs {
			position: absolute;
			margin-left: (@logWidth + 140px);
			top: -16px;
			width: 900px;
			.refbox {
				float: left;
				margin-right: 5px;
				position: relative;
				display: inline-block;
				
				box-sizing:border-box;
				-moz-box-sizing:border-box;	
				color: #fff;
				height: 32px;
				padding: 5px;
				padding-left: 10px;
				padding-right: 10px;
				opacity: 0.6;

				.name {
					display: inline-block;
				}
				.refType {
					opacity: 0.5;
					font-size: 0.8em;
				}
				&.current {
					font-weight: bold;
					opacity: 1;
				}
				&.remote {
					color: #89BCE8;
					opacity: 0.3;
				}
				&.tag {
					color: #EEF266;
				}
				&.tag, &.branch {
					cursor: move;
				}
				&.graphAction {
					opacity: 1;
					color: #fff;
					cursor: pointer;
					.tooltip {
						display: none;
					}
					&:hover {
						.tooltip {
							display: inline-block;
						}
					}
				}
				&.push {
					background: rgb(61, 139, 255);
				}
				&.pull {
					background: #26BDBD;
				}
				&.reset {
					background: rgb(255, 129, 31);
				}
				&.rebase {
					background: #41DE3C;
				}
				&.move {
					background: rgba(0, 0, 0, 0.1);
				}
				&.merge {
					background: #D087D4;
				}
				&.checkout {
					background: #CDDB37;
				}
				&.delete {
					background: #D64D38;
				}
				&.droparea {
					opacity: 0;

					-moz-transition: opacity 0.3s;
					-webkit-transition: opacity 0.3s;
					-o-transition: opacity 0.3s;
					transition: opacity 0.3s;
					&.show {
						opacity: 1;
					}
					.progress {
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0px;
						top: 0px;
						background: transparent;
					}
				}
				&.newRef {
					opacity: 1;
					padding-top: 2px;
					padding-bottom: 2px;
					.showBranchingForm {
						background: transparent;
						border: 0px;
						cursor: pointer;
						padding: 0px;
						margin: 0px;
						color: rgba(255, 255, 255, 0.1);
						&:hover {
							color: rgba(255, 255, 255, 0.7);
						}
					}
					input.name {
						width: 150px;
					}
				}
			}
		}

	}

	.daySeparators {
		position: absolute;
		top: -15px;
		left: 0px;
		.daySeparator {
			position: absolute;
			font-size: 1.1em;
			color: #364B53;
			text-shadow: 1px 1px rgb(21, 28, 41);
			width: 70px;
			padding: 5px;
		}
	}

	.graphFooter {
		height: 60px;
		.progressBar {
			position: relative;
			top: -150px;
			margin-left: (@logWidth);
		}
	}

}