
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans.woff') format('woff');
}

html {
	overflow-y: scroll;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background: rgb(228, 228, 228);

}
button, body {
	font-family: 'Open Sans', sans-serif;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
	position: relative;
}

.throbber {
	width: 40px;
	height: 40px;
	background: url('../images/throbber.png') 0px 0px;
}

.crash {
	margin: 20px;
	padding: 20px;
}

.dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	.modalContainer {
		position: absolute;
		top: 30%;
		width: 100%;
		text-align: center;
		.modal {
			background: #000;
			color: #fff;
			display: inline-block;
			padding: 30px;
			.pushDialog {
				.status {
					font-size: 1.3em;
					color: #89BCE8;
				}
				form {
					margin-top: 20px;
					text-align: left;
				}
			}
		}
	}
}

.box {
	border: 1px solid #eee;
	background: #fefefe;
	padding: 0.5em;
}

@placeholderColor: #e5e5e5;
::-webkit-input-placeholder { color: @placeholderColor; }
::-moz-placeholder { color: @placeholderColor; } /* firefox 19+ */
:-ms-input-placeholder { color: @placeholderColor; } /* ie */
input:-moz-placeholder { color: @placeholderColor; }

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 2.5em;
}

button, input[type="submit"], input[type="button"] {
	background: #68B6ED;
	color: #fff;
	border: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #68b6ed;
	&.primaryAction {
		border: 0.1em solid #fff;
	}
}
button:active, input[type="submit"]:active, input[type="submit"]:active {
	position: relative;
	left: 2px;
	top: 2px;
}
button:disabled, input[type="submit"]:disabled, input[type="submit"]:disabled {
	background: #ababab;
}
button:disabled:active, input[type="submit"]:disabled:active {
	left: 0px;
	top: 0px;
}
textarea {
	border: 1px solid #eee;
}
.checkbox {
	background: #fefefe;
	border: 5px solid #eee;
	width: 15px;
	display: inline-block;
	border-radius: 3px;
	font-size: 0.7em;
	cursor: pointer;;
	&:hover {
		background: #B6D9F2;
	}
	&.checked {
		background: #68B6ED;
		//border-color: transparent;
	}
	&:after {
		content: '.';
		opacity: 0;
	}
}
.validationError {
	color: #D6542D;
	padding: 0.25em;
	display: inline-block;
}



.hr {
	line-height: 0px;
	height: 0px;
	border-top: 1px solid #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #000;
	&:hover {
		color: #555;
	}
}

.content, .currentDirectory form {
	margin-left: 40px;
}

.content {
}


.currentDirectory {
	background: #225075;
	border-bottom: 1px solid #eee;
	input[type="text"] {
		background: transparent;
		border: 0px;
		color: #fff;
		width: 100%;
		padding: 3px;
		font-size: 1.3em;
		&:focus, &:hover {
			background: #fff;
			color: #444;
		}
	}
}

.path {
	.path {
		color: #bbb;
		margin-bottom: 20px;
	}

	.titleHeader {
		font-size: 3.8em;
		margin-bottom: 30px;
		.logo {
			vertical-align: baseline;
			position: relative;
			top: 35px;
			margin-right: 25px;
		}
		.title {
			color: #225075;
			text-shadow: 0px 1px 1px #fff;
		}
	}
	.uninited {
		h1 {
			color: #555;
		}
		position: relative;
		text-align: center;
		.topic {
			text-align: left;
		}
		.initRepository {
			margin-top: 60px;
			margin-bottom: 30px;
		}
		.initRepository, input[type="submit"] {
			font-size: 1.6em;
		}
		.or {
			color: #666;
			.line {
				width: 200px;
				height: 0px;
				border-top: 1px solid #bbb;
				display: inline-block;
				position: relative;
				top: -5px;
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		.cloneRepository {
			margin-top: 30px;
			input[type="text"] {
				width: 300px;
			}
		}
	}
}

.arrowContainer {
	.shadow {
		position: absolute;
		left: 5px;
		top: 7px;
	}
	.arrow {
		position: absolute;
		left: 0px;
		top: 0px;
	}
}

.fileDiff {
	border-spacing: 0px 0px;
	tr, td {
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
	.lineNumbers {
		width: 50px;
		text-align: center;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		color: rgba(0, 0, 0, 0.5);
	}
	.added {
		background: #66F27B;
		color: #000;
	}
	.removed {
		background: #E86756;
		color: #fff;
	}
	.diffs {
		.diff {
			padding-left: 10px;
			padding-right: 3px;
			white-space: pre;
			word-wrap: break-word;
		}
	}
}

.boxStraightShadow {
	-webkit-box-shadow: 5px 7px 0px #c9c9c9;
	-moz-box-shadow:    5px 7px 0px #c9c9c9;
	box-shadow:         5px 7px 0px #c9c9c9;
}

@logWidth: 670px;
@graphTopOffset: 120px;

.gerritIntegration {
	background: #000;
	color: #fff;
	padding: 20px;
	.changes {
		.throbber {
			margin: 30px;
			margin-left: auto;
			margin-right: auto;
		}
		.change {
			font-size: 0.8em;
			.subject {
				color: #F745F7;
				font-size: 1.5em;
			}
			.owner {
				color: #bbb;
			}
			color: #999;
			padding: 5px;
			margin-top: 10px;
			.checkout {
				background: #B26EDF;
			}
			.openInGerrit {
				background: #65BE59;
			}
		}
	}
}

.repository {
	position: relative;
	padding-right: 50px;
	overflow: hidden;
	height: auto;

	.gerritIntegration {
		float: right;
		width: 300px;
		margin-left: 30px;
	}

	.repositoryMain {
		width: auto;
		overflow: hidden;
		height: auto;
		padding-right: 5px;
	}

	.enableGerritIntegration {
		z-index: 100;
		position: absolute;
		right: 0px;
		margin-top: 20px;
	}
	.staging {
		background: rgb(253, 247, 200);
		position: relative;
		padding: 10px;

		.boxStraightShadow;

		box-sizing:border-box;
		-moz-box-sizing:border-box;


		.arrowDown {
			position: absolute;
			left: (@logWidth + 60px - 15px + 100px);
			bottom: 0px;
		}

		table {
			table-layout:fixed;
			width:100%;
		}

		.commitArea {
			width: 600px;
			vertical-align: top;
			.commitMessage {
				display: block;
				width: 100%;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				border-radius: 5px;
				.title, .body {
					border: 1px solid #eee;
				}
				.title {
					font-size: 1.2em;
					display: block;
					padding: 10px;
					width: 100%;
					box-sizing:border-box;
					-moz-box-sizing:border-box;
				}
				.body {
					display: block;
					width: 100%;
					padding: 5px;
					box-sizing:border-box;
					-moz-box-sizing:border-box;
				}
			}
			.commitButton {
				font-size: 1.6em;
			}
			.validationError {
				display: none;
			}
			&:hover .validationError {
				display: inline-block;
			}
			.files {
				.name {
					font-size: 1.3em;
					cursor: pointer;
					padding: 3px;
					border-radius: 3px;
					border: 1px solid transparent;
					&:hover {
						background: #fff;
						border-color: #bbb;
					}
				}
				padding: 0.3em;
				
				.new, .deleted {
					color: #fff;
					border-radius: 3px;
					padding: 3px;
					padding-left: 5px;
					padding-right: 5px;
				}
				.new {
					background: #B5F584;
				}
				.deleted {
					background: #DB3712;
				}
				.discard {
					background: #e0e0e0;
					color: #fff;
					border-radius: 3px;
					padding: 3px;
					padding-left: 5px;
					padding-right: 5px;
					cursor: pointer;
					.explanation {
						display: none;
					}
					&:hover {
						background: #000;
						.explanation {
							display: inline-block;
						}
					}
				}
			}
		}

		.diffArea {
			position: relative;
			vertical-align: top;


			&.noFileSelected {
				margin: 5px;
				background: #fff;
				border-radius: 5px;
				color: #999;
				padding: 10px;
				border: 1px dashed #bbb;
				opacity: 0.5;
				text-align: center;
			}

			.fileDiff {
				background: #fff;
				padding-top: 5px;
				padding-bottom: 5px;
				border: 1px solid #bbb;
				border-radius: 5px;
				margin: 5px;
				font-size: 0.9em;
				color: #666;
			}

		}
	}

	.graphUtils {
		background: #474747;
		position: absolute;
		margin-top: 20px;
		left: (@logWidth + 210px);
		color: #fff;
		padding: 10px;
		.arrowDown {
			position: absolute;
			left: 10px;
			bottom: -15px;
		}
		.title {
			font-size: 1.3em;
		}
		.fetchingIndicator {
			font-size: 1.3em;
			color: #89BCE8;
		}
	}

	.graph {

		margin-left: 100px;

		position: relative;
		top: 30px;
		left: (@logWidth + 30px);

		.graphLog {
			position: relative;
			top: -200px;
			left: -5px;
		}

		.node {
			position: absolute;
			
			.log {
				position: absolute;
				left: -(@logWidth + 60px);
				.logEntryBox {
					position: relative;
					top: -20px;
					background: rgb(255, 255, 255);
					
					.boxStraightShadow;

					padding: 10px;
					width: @logWidth;
					box-sizing:border-box;
					-moz-box-sizing:border-box;	
					.arrowRight {
						position: absolute;
						right: 0px;
						top: 5px;
					}
					.author, .date {
						color: #999;
					}
					.title {
						font-size: 1.3em;
					}
				}
			}

			.refs {
				position: absolute;
				left: 50px;
				top: -16px;
				width: 900px;
				.arrowLeft {
					position: absolute;
					left: -15px;
					top: 1px;
				}
				.refbox {
					float: left;
					margin-right: 5px;
					position: relative;
					display: inline-block;
					background: #474747;
					box-sizing:border-box;
					-moz-box-sizing:border-box;	
					color: #fff;
					height: 32px;
					padding: 5px;
					padding-left: 10px;
					padding-right: 10px;
					cursor: pointer;
					opacity: 0.6;
					.name {
						display: inline-block;
					}
					.refType {
						opacity: 0.5;
						font-size: 0.8em;
					}
					&.current {
						font-weight: bold;
						opacity: 1;
					}
					&.remote {
						color: #89BCE8;
					}
					&.tag {
						color: #EEF266;
					}
					&.graphAction {
						opacity: 1;
						color: #fff;
						.tooltip {
							display: none;
						}
						&:hover {
							.tooltip {
								display: inline-block;
							}
						}
					}
					&.push {
						background: rgb(61, 139, 255);
					}
					&.pull {
						background: #26BDBD;
					}
					&.reset {
						background: rgb(255, 129, 31);
					}
					&.rebase {
						background: #41DE3C;
					}
					&.move {
						background: #CF7425;
					}
					&.newRef {
						opacity: 0.1;
						padding-top: 2px;
						padding-bottom: 2px;
						.showBranchingForm, .name, .submit {
							height: 100%;
							margin-top: 0px;
							margin-bottom: 0px;
							box-sizing:border-box;
							-moz-box-sizing:border-box;	
						}
						.showBranchingForm {
							background: transparent;
							cursor: pointer;
							padding: 0px;
							margin: 0px;
						}
						form {
							margin: 0px;
							padding: 0px;
							height: 100%;
							box-sizing:border-box;
							-moz-box-sizing:border-box;	
						}
						input.name {
							background: transparent;
							color: #fff;
							border: 0px;
							font-size: 1em;
							padding: 3px;
							margin: 0px;
							width: 200px;
						}
						.submit {
						}
						&:hover, &.editing {
							opacity: 0.8;
						}
					}
				}
			}

		}

		.daySeparators {
			position: absolute;
			top: -15px;
			left: -(@logWidth + 130px);
			.daySeparator {
				position: absolute;
				font-size: 0.6em;
				color: #999;
				width: 70px;
				background: #fff;
				padding: 5px;
				.arrowRight {
					position: absolute;
					right: -15px;
					top: -3px;
				}
			}
		}
	}


}

.home {
	text-align: center;
	.logo {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.repos {
		.title {
			font-size: 1.7em;
			color: #CF7F23;
			text-align: left;
			margin: 20px;
		}
		display: inline-block;

		.boxStraightShadow;

		box-sizing:border-box;
		-moz-box-sizing:border-box;	

		width: 600px;
		background: #333;
		a {
			font-size: 1.3em;
			display: block;
			margin: 20px;
			background: #666;
			padding: 10px;
			color: #fff;
			&:hover {
				background: #CF7F23;
			}
		}
	}
}
