
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background: #f0f0f0;

}
button, body {
	font-family: 'Open Sans', sans-serif;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
}

.box {
	border: 1px solid #eee;
	background: #fefefe;
	padding: 0.5em;
}

@placeholderColor: #e5e5e5;
::-webkit-input-placeholder { color: @placeholderColor; }
::-moz-placeholder { color: @placeholderColor; } /* firefox 19+ */
:-ms-input-placeholder { color: @placeholderColor; } /* ie */
input:-moz-placeholder { color: @placeholderColor; }

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 2.5em;
}

button {
	background: #68B6ED;
	color: #fff;
	border: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	background: #68b6ed; /* Old browsers */
	background: -moz-linear-gradient(top,  #68b6ed 0%, #5e92d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68b6ed), color-stop(100%,#5e92d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #68b6ed 0%,#5e92d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #68b6ed 0%,#5e92d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #68b6ed 0%,#5e92d6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #68b6ed 0%,#5e92d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68b6ed', endColorstr='#5e92d6',GradientType=0 ); /* IE6-9 */
}
button:active {
	position: relative;
	left: 5px;
	top: 5px;
}
button:disabled {
	background: #ababab; /* Old browsers */
	background: -moz-linear-gradient(top,  #ababab 0%, #9a9a9a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ababab), color-stop(100%,#9a9a9a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ababab 0%,#9a9a9a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ababab 0%,#9a9a9a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ababab 0%,#9a9a9a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ababab 0%,#9a9a9a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#9a9a9a',GradientType=0 ); /* IE6-9 */
}
button:disabled:active {
	left: 0px;
	top: 0px;
}
textarea {
	border: 1px solid #eee;
}
.checkbox {
	background: #fefefe;
	border: 5px solid #eee;
	width: 15px;
	display: inline-block;
	border-radius: 3px;
	font-size: 0.7em;
	cursor: pointer;;
	&:hover {
		background: #B6D9F2;
	}
	&.checked {
		background: #68B6ED;
		//border-color: transparent;
	}
	&:after {
		content: '.';
		opacity: 0;
	}
}
.validationError {
	color: #D6542D;
	padding: 0.25em;
	display: inline-block;
}

.main {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}


.titleHeader {
	.icon {
		float: left;
		height: 75px;
		margin-right: 15px;
	}
	.preTitle {
		font-size: 1em;
		color: #999;
	}
	.title {
		font-size: 3em;
	}
	height: 87px;
}

.hr {
	line-height: 0px;
	height: 0px;
	border-top: 1px solid #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #000;
	&:hover {
		color: #555;
	}
}

.repository {
	.path {
		color: #bbb;
		margin-bottom: 20px;
	}
	.uninited {
		h1 {
			color: #555;
		}
		position: relative;
		.initRepository {
			margin-top: 1em;
			font-size: 1.6em;
		}
	}
	.inited {
		position: relative;


		.graph {

			position: relative;
			top: -60px;
			left: 500px;

			.graphLog {
				position: absolute;
			}

			.node {
				position: absolute;
				
				.log {
					position: absolute;
					left: -530px;
					.arrowRight {
						position: absolute;
						right: -15px;
						top: -15px;
					}
					.logEntryBox {
						position: relative;
						top: -20px;
						background: rgba(255, 255, 255, 0.9);
						padding: 10px;
						width: 470px;
						box-sizing:border-box;
						-moz-box-sizing:border-box;	
						.author, .date {
							color: #999;
						}
						.title {
							font-size: 1.3em;
						}
					}
				}

				.refs {
					position: absolute;
					left: 50px;
					top: -16px;
					width: 500px;
					.arrowLeft {
						position: absolute;
						left: -15px;
						top: 1px;
					}
					.refsList {
						display: inline-block;
					}
					.ref {
						position: relative;
						display: inline-block;
						background: #474747;
						color: #fff;
						padding: 5px;
						padding-left: 10px;
						padding-right: 10px;
						cursor: pointer;
						opacity: 0.6;
						.name {
							display: inline-block;
						}
						&.current {
							font-weight: bold;
							opacity: 1;
						}
						&.newRef {
							opacity: 0.1;
							form {
								margin: 0px;
								padding: 0px;
							}
							input.name {
								background: #474747;
								color: #fff;
								border: 0px;
								font-size: 1em;
								padding: 0px;
								margin: 0px;
								width: 15px;
								&:focus {
									width: 200px;
								}
							}
							input.submit {
								visibility: hidden;
								position: absolute;
								width: 0px;
								height: 0px;
								margin: 0px;
								padding: 0px;
							}
							&:hover {
								opacity: 0.8;
							}
						}
					}
				}

			}
		}


		.staging {
			background: rgb(255, 251, 219);
			position: relative;
			padding: 10px;

			width: 470px;
			box-sizing:border-box;
			-moz-box-sizing:border-box;	

			.arrowRight {
				position: absolute;
				right: -15px;
				bottom: 15px;
			}

			.commitMessage {
				display: block;
				width: 100%;
				font-size: 1.6em;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				border-radius: 5px;
				padding: 10px;
			}
			.commitButton {
				font-size: 1.6em;
			}
			.files {
				.name {
					font-size: 1.3em;
					cursor: pointer;
					padding: 3px;
					border-radius: 3px;
					border: 1px solid transparent;
					&:hover {
						background: #fff;
						border-color: #bbb;
					}
				}
				padding: 0.3em;
				.diffs {
					background: #fff;
					padding-top: 5px;
					padding-bottom: 5px;
					border: 1px solid #bbb;
					border-radius: 5px;
					margin: 5px;
					.diff {
						padding-left: 3px;
						padding-right: 3px;
						&.added {
							background: #66F27B;
						}
						&.removed {
							background: #E86756;
						}
					}
				}
				.new {
					background: #B5F584;
					color: #fff;
					border-radius: 3px;
					padding: 3px;
					padding-left: 5px;
					padding-right: 5px;
				}
				.discard {
					background: #e0e0e0;
					color: #fff;
					border-radius: 3px;
					padding: 3px;
					padding-left: 5px;
					padding-right: 5px;
					cursor: pointer;
					.explanation {
						display: none;
					}
					&:hover {
						background: #000;
						.explanation {
							display: inline-block;
						}
					}
				}
			}
		}

	}
}