
html {
	overflow-y: scroll;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background: rgb(228, 228, 228);

}
button, body {
	font-family: 'Open Sans', sans-serif;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
	position: relative;
}

.crash {
	margin: 20px;
	padding: 20px;
}

.dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	.modalContainer {
		position: absolute;
		top: 30%;
		width: 100%;
		text-align: center;
		.modal {
			background: #000;
			color: #fff;
			display: inline-block;
			padding: 30px;
			.pushDialog {
				.status {
					font-size: 1.3em;
					color: #89BCE8;
				}
				form {
					margin-top: 20px;
					text-align: left;
				}
			}
		}
	}
}

.box {
	border: 1px solid #eee;
	background: #fefefe;
	padding: 0.5em;
}

@placeholderColor: #e5e5e5;
::-webkit-input-placeholder { color: @placeholderColor; }
::-moz-placeholder { color: @placeholderColor; } /* firefox 19+ */
:-ms-input-placeholder { color: @placeholderColor; } /* ie */
input:-moz-placeholder { color: @placeholderColor; }

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 2.5em;
}

button, input[type="submit"] {
	background: #68B6ED;
	color: #fff;
	border: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #68b6ed;
}
button:active, input[type="submit"]:active {
	position: relative;
	left: 5px;
	top: 5px;
}
button:disabled, input[type="submit"]:disabled {
	background: #ababab;
}
button:disabled:active, input[type="submit"]:disabled:active {
	left: 0px;
	top: 0px;
}
textarea {
	border: 1px solid #eee;
}
.checkbox {
	background: #fefefe;
	border: 5px solid #eee;
	width: 15px;
	display: inline-block;
	border-radius: 3px;
	font-size: 0.7em;
	cursor: pointer;;
	&:hover {
		background: #B6D9F2;
	}
	&.checked {
		background: #68B6ED;
		//border-color: transparent;
	}
	&:after {
		content: '.';
		opacity: 0;
	}
}
.validationError {
	color: #D6542D;
	padding: 0.25em;
	display: inline-block;
}



.hr {
	line-height: 0px;
	height: 0px;
	border-top: 1px solid #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #000;
	&:hover {
		color: #555;
	}
}

.content, .currentDirectory form {
	margin-left: 40px;
}

.content {
}


.currentDirectory {
	background: #225075;
	input[type="text"] {
		background: transparent;
		border: 0px;
		color: #fff;
		width: 100%;
		padding: 3px;
		font-size: 1.3em;
	}
}

.path {
	.path {
		color: #bbb;
		margin-bottom: 20px;
	}

	.titleHeader {
		font-family: SegoeUILight, 'Segoe UI Light', SegoeUI, 'Segoe UI', arial, sans-serif;
		font-size: 3.8em;
		.logo {
			vertical-align: baseline;
			position: relative;
			top: 20px;
			margin-right: 20px;
		}
	}
	.uninited {
		h1 {
			color: #555;
		}
		position: relative;
		text-align: center;
		.topic {
			text-align: left;
		}
		.initRepository {
			margin-top: 60px;
			margin-bottom: 30px;
		}
		.initRepository, input[type="submit"] {
			font-size: 1.6em;
		}
		.or {
			color: #666;
			.line {
				width: 200px;
				height: 0px;
				border-top: 1px solid #bbb;
				display: inline-block;
				position: relative;
				top: -5px;
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		.cloneRepository {
			margin-top: 30px;
			input[type="text"] {
				width: 300px;
			}
		}
	}
}

.arrowContainer {
	.shadow {
		position: absolute;
		left: 5px;
		top: 7px;
	}
	.arrow {
		position: absolute;
		left: 0px;
		top: 0px;
	}
}

@logWidth: 670px;
@graphTopOffset: 120px;

.repository {
	margin-top: 30px;
	position: relative;
	padding-right: 50px;

	.graphUtils {
		background: #474747;
		position: absolute;
		margin-top: 20px;
		left: (@logWidth + 210px);
		color: #fff;
		padding: 10px;
		.arrowDown {
			position: absolute;
			left: 10px;
			bottom: -15px;
		}
		.title {
			font-size: 1.3em;
		}
		.fetchingIndicator {
			font-size: 1.3em;
			color: #89BCE8;
		}
	}

	.graph {

		margin-left: 100px;

		position: relative;
		top: 20px;
		left: (@logWidth + 30px);

		.graphLog {
			position: relative;
			top: -200px;
			left: -5px;
		}

		.node {
			position: absolute;
			
			.log {
				position: absolute;
				left: -(@logWidth + 60px);
				.logEntryBox {
					position: relative;
					top: -20px;
					background: rgb(255, 255, 255);

					-webkit-box-shadow: 5px 7px 0px #c9c9c9;
					-moz-box-shadow:    5px 7px 0px #c9c9c9;
					box-shadow:         5px 7px 0px #c9c9c9;

					padding: 10px;
					width: @logWidth;
					box-sizing:border-box;
					-moz-box-sizing:border-box;	
					.arrowRight {
						position: absolute;
						right: 0px;
						top: 5px;
					}
					.author, .date {
						color: #999;
					}
					.title {
						font-size: 1.3em;
					}
				}
			}

			.refs {
				position: absolute;
				left: 50px;
				top: -16px;
				width: 500px;
				.arrowLeft {
					position: absolute;
					left: -15px;
					top: 1px;
				}
				.refsList {
					display: inline-block;
				}
				.refbox {
					position: relative;
					display: inline-block;
					background: #474747;
					color: #fff;
					padding: 5px;
					padding-left: 10px;
					padding-right: 10px;
					cursor: pointer;
					opacity: 0.6;
					.name {
						display: inline-block;
					}
					&.current {
						font-weight: bold;
						opacity: 1;
					}
					&.remote {
						color: #89BCE8;
					}
					&.push, &.reset, &.rebase, &.move {
						opacity: 1;
						color: #fff;
						.tooltip {
							display: none;
						}
						&:hover {
							.tooltip {
								display: inline-block;
							}
						}
					}
					&.push {
						background: rgb(61, 139, 255);
					}
					&.reset {
						background: rgb(255, 129, 31);
					}
					&.rebase {
						background: #41DE3C;
					}
					&.move {
						background: #CF7425;
					}
					&.newRef {
						opacity: 0.1;
						form {
							margin: 0px;
							padding: 0px;
						}
						input.name {
							background: #474747;
							color: #fff;
							border: 0px;
							font-size: 1em;
							padding: 0px;
							margin: 0px;
							width: 15px;
							&:focus {
								width: 200px;
							}
						}
						input.submit {
							visibility: hidden;
							position: absolute;
							width: 0px;
							height: 0px;
							margin: 0px;
							padding: 0px;
						}
						&:hover {
							opacity: 0.8;
						}
					}
				}
			}

		}

		.daySeparators {
			position: absolute;
			top: -15px;
			left: -(@logWidth + 130px);
			.daySeparator {
				position: absolute;
				font-size: 0.6em;
				color: #999;
				width: 70px;
				background: #fff;
				padding: 5px;
				.arrowRight {
					position: absolute;
					right: -15px;
					top: -3px;
				}
			}
		}
	}


	.staging {
		background: rgb(253, 247, 200);
		position: relative;
		padding: 10px;
		
		-webkit-box-shadow: 5px 7px 0px #c9c9c9;
		-moz-box-shadow:    5px 7px 0px #c9c9c9;
		box-shadow:         5px 7px 0px #c9c9c9;

		box-sizing:border-box;
		-moz-box-sizing:border-box;


		.arrowDown {
			position: absolute;
			left: (@logWidth + 60px - 15px + 100px);
			bottom: 0px;
		}

		table {
			table-layout:fixed;
			width:100%;
		}

		.commitArea {
			width: 600px;
			vertical-align: top;
			.commitMessage {
				display: block;
				width: 100%;
				font-size: 1.6em;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				border-radius: 5px;
				padding: 10px;
			}
			.commitButton {
				font-size: 1.6em;
			}
			.validationError {
				display: none;
			}
			&:hover .validationError {
				display: inline-block;
			}
			.files {
				.name {
					font-size: 1.3em;
					cursor: pointer;
					padding: 3px;
					border-radius: 3px;
					border: 1px solid transparent;
					&:hover {
						background: #fff;
						border-color: #bbb;
					}
				}
				padding: 0.3em;
				
				.new, .deleted {
					color: #fff;
					border-radius: 3px;
					padding: 3px;
					padding-left: 5px;
					padding-right: 5px;
				}
				.new {
					background: #B5F584;
				}
				.deleted {
					background: #DB3712;
				}
				.discard {
					background: #e0e0e0;
					color: #fff;
					border-radius: 3px;
					padding: 3px;
					padding-left: 5px;
					padding-right: 5px;
					cursor: pointer;
					.explanation {
						display: none;
					}
					&:hover {
						background: #000;
						.explanation {
							display: inline-block;
						}
					}
				}
			}
		}

		.diffArea {
			&.noFileSelected {
				margin: 5px;
				background: #fff;
				border-radius: 5px;
				color: #999;
				padding: 10px;
				border: 1px dashed #bbb;
				opacity: 0.5;
				text-align: center;
			}
			.diffs {
				background: #fff;
				padding-top: 5px;
				padding-bottom: 5px;
				border: 1px solid #bbb;
				border-radius: 5px;
				margin: 5px;
				font-size: 0.9em;
				color: #666;
				.diff {
					padding-left: 3px;
					padding-right: 3px;
					white-space: pre;
					word-wrap: break-word;
					&.added {
						background: #66F27B;
						color: #000;
					}
					&.removed {
						background: #E86756;
						color: #fff;
					}
				}
			}
		}
	}

}
