
<div class="modal fade" data-bind="modal: { onclose: onclose, closer: setCloser }">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" data-bind="text: title"></h4>
			</div>
			<!-- Autocomplete is off here because of https://github.com/FredrikNoren/ungit/issues/363 -->
			<form class="form-horizontal" data-bind="submit: submit" autocomplete="off">
				<div class="modal-body" data-bind="foreach: items">
					<div class="form-group">
						<label data-bind="text: name, attr: { for: name }" class="col-lg-2 control-label"></label>
						<div class="col-lg-10">
							<input class="form-control" id="inputName"
								data-bind="value: value, attr: { id: name, placeholder: placeholder, type: type, autofocus: autofocus }">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" value="Submit">
					<button class="btn btn-default" data-bind="click: close, visible: showCancel">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
