
@import "bootstrap/bootstrap.less";

// -- BOOTSTRAP STYLING ---

@navbar-bg: #2B3844;
@font-family-sans-serif: 'Open Sans';
@body-bg: #252833;
@progress-bg: rgba(0, 0, 0, 0.2);
@progress-bar-bg: rgba(0, 0, 0, 0.2);
@text-color: #D8D8D8;
@panel-bg: #3B3F4E;
@panel-border: #2D4644;
@list-group-bg: @panel-bg;
@list-group-border: #435158;
@modal-content-bg: @panel-bg;
@modal-header-border-color: @list-group-border;

.navbar {
	padding-top: 15px;

	.navbar-brand {
		width: 140px;
		max-width: 140px;
		position: relative;
		top: -5px;
	}
	.row {
		margin-left: 130px;
		.navbar-form {
			width: 100%;
			.form-control {
				font-size: 1.7em;
				width: 100%;
				background: rgba(255, 255, 255, 0.1);
				color: rgba(255, 255, 255, 0.8);
				border: 0px;
			}
		}
	}
	.arrowUp {
		position: absolute;
		bottom: 0px;
		left: 300px;
	}
}

.btn {
	border: 0px;
	position: relative;
	.progress {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background: transparent;
	}
}

.wide-container {
	padding-left: 40px;
	padding-right: 40px;
}

// -- LAYOUT ----
// Needed to properly layout this specific page regardless of the specific bootstrap configuration/styling

.fetchButton {
	position: absolute;
	margin-top: 20px;
	right: 20px;
	z-index: 30;
}

.crash {
	margin-top: 20px;
}
