
.imageDiff {
  padding: 10px;
  text-align: center;
  .glyphicon-arrow-right {
    font-size: 104px;
    color: rgba(0, 0, 0, 0.3);
  }
}

.img-removed {
  background-color: rgba(230, 70, 100, 0.2);
  margin-top: 20px;
}

.img-added {
  background-color: rgba(70, 230, 100, 0.2);
  margin-top: 20px;
}