<div class="btn-group fetchButton submodule">
  <button type="button" class="btn btn-default btn-main" data-bind="click: function() {}">
    <span class="glyphicon glyphicon-th-large"></span>
    <span data-bind="text: 'Submodules'"></span>
    <!-- ko component: updateProgressBar --><!-- /ko -->
    <!-- ko component: fetchProgressBar --><!-- /ko -->
  </button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right" role="menu">
    <!-- ko foreach: submodules -->
    <li>
      <a href="#" data-bind="text: name, click: $parent.submodulePathClick, attr: { 'data-ta-clickable': name }"></a>
      <a href="#" class="list-link list-url" data-bind="text: '@', click: $parent.submoduleLinkClick, attr: { 'data-ta-clickable': name + '-weblink' }"></a>
      <a href="#" class="list-link list-remove" data-bind="text: 'X', click: $parent.submoduleRemove.bind($parent), attr: { 'data-ta-clickable': name + '-remove' }"></a>
    </li>
    <!-- /ko -->
    <li class="divider"></li>
    <li><a href="#" class="update-submodule" data-bind="click: updateSubmodules">Update Submodules</a></li>
    <li class="divider"></li>
    <li><a href="#" class="add-submodule" data-bind="click: showAddSubmoduleDialog">Add Submodules</a></li>
  </ul>
</div>
